// CSS Styles fixes for IE7

ul#tabs {
  li {
    display: inline-block;
    float: left;
  }
}

ul.template-reference-list li {
  float: left;
  width: 97%;
}

.drag-button {
  behavior: none;
  -pie-background: none;
  &:hover {
    -pie-background: none;
    behavior: none;
  }
}
form.user fieldset.inputs,
.nested-fields fieldset,
.panel {
  border: solid 1px #c0c0c0;
  background: transparent;
  behavior: none;
  position: static;
  float: none;
  margin-bottom: 10px;
  li {
    position: relative;
  }
}

.accordion {
  .panel {
    height: 10%;
    .dialogue {
      display: none;
    }
  }
}
fieldset.collapsible,
table.index_table td.actions,
table.checklist td.action {
  background: transparent !important;
  li {
    position: relative;
  }
}

.pagination {
  font-size: 12px;
}

.output-format label {
  vertical-align: middle;
  display: inline;
  select {
    left: 50%;
  }
}

li.input {
  label { 
    margin-right: 10px;
  }
  select {
    margin-bottom: 4px;
  }
}

div.link_spacing.top {
  padding-bottom: 2em;
}

div.rights_block {
  fieldset.choices {
    border: #f4f4f4 solid 1px;
    ol {
      line-spacing: 0;
    }
  }
  li * {
    vertical-align: top;
  }
  fieldset.inputs {
    border: none;
  }
}

fieldset.inputs li.input.stringish {
  padding-bottom: 1em;
}

fieldset.inputs.rel fieldset.buttons {
  float: left !important;
  ol {
    padding-left: 0;
  }
}

div.link_spacing.back {
    margin-top: -0.5em;
    padding-bottom: 2.5em;
    margin-bottom: 1.5em;
  }

