// CSS Styles fixes for IE8
@import "dmponline/mixins/variables";

#facebox .popup, #facebox .content {
  behavior: url(/assets/PIE.htc);
  position: relative;
}

#header { 
  ul#tabs {
    & > li a {
      background: $evenrow;
    }
  }
}

fieldset.inputs li.input.stringish {
  padding-bottom: 1em;
}

fieldset.inputs.rel fieldset.buttons {
  float: left !important;
  ol {
    padding-left: 0;
  }
}
