<p>Welcome to DMPOnline!</p>

<p>Your account has been created for email address <%= @resource.email %>.  Please now confirm your account using the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
