- rep_list = repository_option_list
- obo_list = obo_allowed_list

.repository
  = f.inputs do
    - unless rep_list.empty?
      = f.input :repository, as: :select, collection: rep_list
  
      #repository_username_area{data: {obo_list: obo_list.to_json}}
        = f.inputs for: :repository_username do |r|
          = r.input :username, default_value: obo_list[@plan.repository_id]
