#dcc_banner
  = link_to image_tag("dcc_logo_tagline.png", :alt => "Digital Curation Centre", :class => "dcc_logo"), "http://www.dcc.ac.uk/", :title => "Visit the DCC Website"
#test_site
  This site is for testing purposes only.  Any data entered here will be cleared out.