#login_overlay
  %a.close{href: '#'}
  .back
    %h2= t('dmp.auth.sign_in')
    = render :partial => 'devise/sessions/form'

-# Opens login form as an overlay using jQuery UI
:coffeescript
  jQuery ->
    $("a[rel=#login_overlay]").click ->
      $("#login_overlay").show "scale", percent: 100, 500
      false
    $("#login_overlay a.close").click ->
      $("#login_overlay").hide()
      false
