#login_overlay
  %a.close{href: '#'}
  .back
    %h2= t('dmp.auth.sign_in')
    = render :partial => 'devise/sessions/form'

-# Opens login form as an overlay using jQuery UI
:javascript
  $("a[rel=#login_overlay]").click(function() {
    $("#login_overlay").show("scale", {percent: 100}, 500);
    return false;
  });
  $("#login_overlay a.close").click(function() {
    $("#login_overlay").hide();
    return false;
  });
